
.wrapper {
  width: 100%;
  margin: 0 auto;
  /*background: linear-gradient(-270deg, #ff3975 19%, #ffc229 83%);*/
  background: transparent;
  margin-bottom: 50px;
}

.wrapper h1 {
  text-align: center;
  font-size: 48px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

.wrapper h2 {
  text-align: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.form-group input {
  width: 500px;
}

.form-group textarea {
  width: 500px;
}

.form-group select {
  width: 500px;
}

.form-group label {
    font-family: "Poppins", sans-serif;
    font-size: 12pt;
    width: 500px;
}

.form-group {
    margin: 15px;
}

.form-group2 label {
    font-family: "Poppins", sans-serif;
    font-size: 12pt;
}


.form-group2 {
    margin-left: 15px;
}


p {
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
}

.button{
  margin-bottom: 10px;
}

img{
  width: 100%;
  vertical-align: bottom;

}
